// Colors
$black: #000000;
$blackHaze: #f4f5f5;
$codGray: #0d0d0d;
$cornFlowerBlue: #646cff;
$lightGray: #b0b0b0;
$lightOrange: #cda400;
$mineShaft: #363636;
$pampas: #f1ecea;
$royalBlue: #535bf2;
$white: #ffffff;
$red: #ff0000;
